 <managed-bean>
  <managed-bean-name>state</managed-bean-name>
  <managed-bean-class>org.richfaces.ui.model.States</managed-bean-class>
  <managed-bean-scope>request</managed-bean-scope>
  <managed-property>
   <property-name>states</property-name>
   <property-class>org.richfaces.ui.model.States</property-class>
   <value>#{config.states}</value>
  </managed-property>
 </managed-bean>
 <managed-bean>
  <managed-bean-name>config</managed-bean-name>
  <managed-bean-class>org.richfaces.demo.stateApi.Config</managed-bean-class>
  <managed-bean-scope>none</managed-bean-scope>
 </managed-bean>